
<div class="container mt-5">



<div class="form card p-5 w-50 m-auto shadow p-3 mb-5 bg-body-tertiary rounded">
	<h1>Add Properties</h1>


	<%= form_for [@user,@property] do |f| %>
		<div class="mb-3">
			<%= f.label :name , class: "form-label" %>
			<%= f.text_field :name, class: "form-control" %>
		</div>

		<div class="mb-3">
			<%= f.label :price , class: "form-label" %>
			<%= f.number_field :price, class: "form-control" %>
		</div>


		<div class="mb-3">
		<%= f.label :prop_type, class: "form-label" %>
		<%= f.select :prop_type, Property.prop_types.keys ,selected: "Select",include_blank: false,disabled: Property.prop_types.keys[0] %>	
		</div>

		<div class="mb-3">
			<div class="flat_type" style="display: none;">
				
				<%= f.fields_for :flat_detail do |flat_detail| %>
					<%= flat_detail.label :flat_type, class: "form-label"  %>
					<%= flat_detail.select :flat_type, FlatDetail.flat_types.keys ,selected: "Select",include_blank: false,disabled: FlatDetail.flat_types.keys[0]  %>
				<% end %>	
			</div>
		</div>	
		<div class="mb-3">
			<div class="pg_detail" style="display: none;">
				<%= f.fields_for :pg_detail do |pg_detail| %>
					<div class="mb-3">
						
					<%= pg_detail.label :sharing_type, class: "form-label"  %>
					<%= pg_detail.select :sharing_type, PgDetail.sharing_types.keys ,selected: "Select",include_blank: false,disabled: PgDetail.sharing_types.keys[0]  %>
					</div>
					<div class="mb-3">		
					<%= pg_detail.label :food_facility, class: "form-label" %>
					<%= pg_detail.radio_button :food_facility, value:"Yes" %>
					<%= pg_detail.label :food_facility_yes, " Yes" %>

					<%= pg_detail.radio_button :food_facility, value: "No" %>
					<%= pg_detail.label :food_facility_no, "No" %>
					</div>


				<% end %>	
			</div>
		</div>

		<div class="mb-3">
			<div class="room_detail" style="display: none;">
				<%= f.fields_for :room_detail do |room_detail| %>
					<%= room_detail.label :area, class: "form-label" %>
					<%= room_detail.text_field :area, class: "form-control" %>
				<% end %>	
			</div>
		</div>
		
		<div class="mb-3">
				<%= f.label :available_for, class: "form-label"  %>
				<%= f.select :available_for, Property.available_fors.keys ,selected: "Select",include_blank: false  %>
		</div>

		<div class="mb-3">
			<%= f.label :available_from, class: "form-label"  %>
			<%= f.date_field :available_from,:min => Date.today  %>
		</div>

		<div class="mb-3 amenity-checkbox">
			<h4>Amenities provided</h4>
			<%= fields_for :amenities do |amenity_form| %>
			<%#= f.select(:amenities, Amenity.pluck(:title, :id),{ :prompt => "Please select"},
                                   :multiple => true,include_hidden: false 
                                 )%>

			<%= f.collection_check_boxes(:amenity_ids, Amenity.order(:title), :id, :title,include_blank: false ) %>
			<% end %>
		</div>

		<div class="mb-3">
			<h4>Address</h4>
			<%= f.fields_for :address, @property.build_address	 do |add| %>

			<%= add.label :address, class: "form-label" %>
			<%= add.text_field :address, class: "form-control" %>

			<%= add.label :street, class: "form-label" %>
			<%= add.text_field :street, class: "form-control" %>

			<%= add.label :city, class: "form-label" %>
			<%= add.text_field :city, class: "form-control" %>

			<%= add.label :country, class: "form-label" %>
			<%= add.text_field :country, class: "form-control" %>
			<% end %>
		</div>

		<div class="mb-3">
			<%= f.label :images, class: "form-label" %>
			<%= f.file_field :images , :multiple => true %>
		</div>

		<div class="mb-3 text-center d-flex justify-content-evenly ">
			<%= link_to "Cancel",user_properties_path,class: "btn btn-outline-primary form-control w-25 " %>
			<%= f.submit "Submit",class: "btn btn-primary form-control w-25 " %>
		</div>



	<% end %>


</div>
</div>

<script type="text/javascript">
	var ele = document.querySelector('#property_amenity_ids_6')
	var label= document.querySelector('#property_amenity_ids_7').labels

	var ele2 = document.querySelector('#property_amenity_ids_7')
	var label2= document.querySelector('#property_amenity_ids_6').labels
	function amenityHandle(e){
		if(e.target.checked){
			document.querySelector('#property_amenity_ids_7').style.display = "none";
			label[0].innerHTML   = " "
		}else{
			document.querySelector('#property_amenity_ids_7').style.display = "inline";
			label[0].innerHTML   = " Semi Furnished"
			
		}
	}

	function amenityHandle2(e){
		console.log(e.target.checked)
		if(e.target.checked){
			document.querySelector('#property_amenity_ids_6').style.display = "none";
			label2[0].innerHTML   = " "
		}else{
			document.querySelector('#property_amenity_ids_6').style.display = "inline";
			label2[0].innerHTML   = " Full Furnished"
			
		}
	}

	ele.addEventListener('change',(e)=>{
		amenityHandle(e);
	})
	ele2.addEventListener('change',(e)=>{
		amenityHandle2(e);
	})
	document.querySelector('#property_prop_type').classList.add('form-select')
	document.querySelector('#property_flat_detail_attributes_flat_type').classList.add('form-select')
	document.querySelector('#property_pg_detail_attributes_sharing_type').classList.add('form-select')
	document.querySelector('#property_flat_type').classList.add('form-select')
	

	var myElement = document.querySelector('#property_prop_type');

		console.log(myElement )
	function handle_change(e){
		if (e.target.value == 'Flat'){	
			document.querySelector(".flat_type").style.display = "block"
			document.querySelector(".pg_detail").style.display = "none"
			document.querySelector(".room_detail").style.display = "none"

		}
		else if(e.target.value == 'PG'){
			alert('hello')
			document.querySelector(".pg_detail").style.display = "block"
			document.querySelector(".flat_type").style.display = "none"
			document.querySelector(".room_detail").style.display = "none"
		}
		else if (e.target.value == 'Room'){
			document.querySelector(".room_detail").style.display = "block"
			document.querySelector(".pg_detail").style.display = "none"
			document.querySelector(".flat_type").style.display = "none"
		}
		else{
			document.querySelector(".room_detail").style.display = "none"
			document.querySelector(".pg_detail").style.display = "none"
			document.querySelector(".flat_type").style.display = "none"
	}	
	}
	myElement.addEventListener('change',(e)=>{
		handle_change(e);
	})
	
	

</script>









