<!DOCTYPE html>
<html>
  <head>
    <title>Rentalproperty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="http://cdn.syncfusion.com/js/web/flat-azure/ej.web.all-latest.min.css" rel="stylesheet" />
    <%= javascript_importmap_tags %>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-   easing/1.3/jquery.easing.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.js"></script>
    <!--contains the necessary scripts to render all the web components-->
    <script src="http://cdn.syncfusion.com/js/web/ej.web.all-latest.min.js"></script>

  </head>

  <body>
        <div class="toaster">
            <%= notice %>
            <%= alert %>
        </div>
     <%= yield %>
  </body>
  <script type="text/javascript">

        // $(function () {
        //      let val =  $(".exactRating").value
        //     $(".exactRating").ejRating({ precision: ej.Rating.Precision.Exact, value: val ,readOnly:true});
        // });


  function modal_click(e){
    value = e.id
    length = value.length
    id = value.split('_')[1]
    document.querySelector('.modal-body').innerHTML = "<%= escape_javascript render :partial => "appointment/new" %>"
    
    var property_id = document.querySelector('#appointment_property_id')
    property_id.value = `${id}`  
  }

    $(document).ready(function(){


      var swiper = new Swiper('.swiper', {
      slidesPerView: 3,
      direction: getDirection(),
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      on: {
        resize: function () {
          swiper.changeDirection(getDirection());
        },
      },
    });

    function getDirection() {
      var windowWidth = window.innerWidth;
      var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

      return direction;
    }

    const progressCircle = document.querySelector(".autoplay-progress svg");
    const progressContent = document.querySelector(".autoplay-progress span");
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      },
      on: {
        autoplayTimeLeft(s, time, progress) {
          if(progress >=0){
          progressCircle.style.setProperty("--progress", 1 - progress);
          
           progressContent.textContent = `${Math.ceil(time / 1000)}s`;
          }
        }
      }
    });


  </script>
</html>
